body{
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
:root{
    --primary-color: #4CAF50;
    --secondary-color: #f0f0f0;
    --text-color: #333;
    --main-color: white;
}
.dark-mode {
   --secondary-color: rgb(64, 62, 62);
    --text-color:white;
    --main-color: black;
    --primary-color: rgb(33, 30, 30);
}
.grid-container{
    display: grid;
    grid-template-rows: 60px 1fr 50px;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
    'header header'
    'side-bar main'
    'footer footer';
    height: 100vh;
}
.header{
    grid-area: header;
    background-color:var(--primary-color) ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;

}
.side-bar{
    grid-area: side-bar;
    background-color: var(--secondary-color);
    padding: 20px;

}
h{
    font-weight: bolder;
    color: var(--text-color);
}
p{
    font-size: small;
    color: var(--text-color);
}

ul{
    padding: 0;
    margin-left: 30px;
    
}
li{
    margin-bottom: 10px;
}
a{
    color: purple;
}
.main{
   grid-area: main;
   padding: 20px;
   background-color: var(--main-color);
   
}
.footer{
    grid-area: footer;
    color: white;
    text-align: center;
    padding: 15px;
    background-color:var(--primary-color);
}